<script setup>
export default {
  components: {},
  props: {
    msg: String
  },
  data() {
    return {}
  },
  methods: {},
  setup(props, ctx) {}
}
</script>

<template>
  <div>{{dcurly true}}msg{{dcurly}}</div>
</template>

<style scoped>

</style>
